body {
    background-color: #D3E3FC;
}

h1 {
    color: #77A5F5;
}
ul {
    color: #00887A;
    list-style-type: none;
}
li{
    display: block;
}

li a {
    text-decoration: none;
    color: #00887A;
}


.header-nav {
    margin-top: -30px;
}

.header-nav ul {
    display: flex;
    justify-content: end;
    
}

.header-nav ul li a {
    margin: 0 20px;
    font-weight: 600;
    font-size: 1.5em;
} 

footer {
    background-color: #77A5F5;
}

.footer-container {
    width: 100%;
    /* padding: 70px 30px 20px; */
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: #D3E3FC;
    margin: 20px;
    border-radius: 50px;
}

.social-icons a i {
    font-size: 2em;
    color: #00887A;
    opacity: 0.9;
}

.social-icons a:hover {
    background-color: #5E7E94;
    transition: 0.5s;
}

.social-icons a i:hover {
    color: #FFCCBB;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.9;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 0.4;
}

.footerBottom {
    background-color: black;
    padding: 20px;
    text-align: center;
    
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
